h1 {
  font-size: 2rem;
}

@media (min-width: 48rem) {
  .button {
    transition: opacity 0.3s ease-in-out;
  }
  .button:hover {
    opacity: 0.8;
  }
  .icon-button {
    transition: background-color 0.3s ease-in-out;
  }
  .icon-button:hover {
    background-color: #ffffff33;
  }
  h1 {
    font-size: 3rem;
  }
}
