.body {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  min-height: 80vh;
  width: min(30rem, 100% - 2.5rem);
  margin-inline: auto;
  margin-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
  padding: 0.875rem;
  border-radius: 0.625rem;
  background-color: #ffffff25;
  position: relative;
}

.poster {
  border-radius: 0.25rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  max-width: 65%;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.rating {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-weight: 500;
  font-size: 0.75rem;
}

.year {
  font-size: 0.75rem;
}

.deleteIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.25rem;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

@media (min-width: 48rem) {
  .deleteIcon:hover {
    background-color: #ffffff28;
  }
}
