.search {
  min-height: 100vh;
}

.searchInput {
  padding: 0.75rem 3rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  background-color: #262c36;
  font-size: 1rem;
  color: inherit;
  width: 100%;
}

.searchIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-45%);
  left: 1.25rem;
}

@media (max-width: 48rem) {
  .searchInput {
    background: none;
    padding-inline: 2rem;
  }
  .searchIcon {
    left: 0;
  }
}
